body {
  width: 95%;
  max-width: 850px;
  margin: auto;
  margin-top: 20px;
  background-color: #000;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.logomarca {
  border-radius: 8px;
  text-align: center;
}

.centralizada {
  text-align: center;
  display: grid;
}

.principal,
.aviso {
  width: 95%;
  max-width: 800px;
  background-color: #333;
  margin: 10px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.exemplo {
  background-color: #555;
}

form {
  display: grid;
  padding: 10px;
  margin: auto;
  background-color: #666;
  border-radius: 8px;
}

a {
  color: whitesmoke;
}

article {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  background-color: #666;
  margin-bottom: 1%;
}

.nome {
  margin-right: auto;
}

.premium,
.basico {
  margin-left: auto;
}

h1 {
  margin: 20px auto;
  background-color: #222;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: #fff629;
}

h2 {
  text-decoration: underline;
  background-color: #555;
  margin: 20px auto;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: #fff629;
}

button {
  margin: auto;
  cursor: pointer;
}

h3 {
  color: #fff629;
}

h4 {
  color: #fff629;
}

h3::before {
  content: "\00BB"; /* Código Unicode para uma seta para a esquerda */
  margin-right: 5px; /* Espaço entre a seta e o texto */
}

.contatos {
  max-width: 800px;
  margin: 0 auto;
}

.contatos ul {
  list-style: none;
  padding: 0;
}

.contatos li {
  border-bottom: 1px solid #ccc; /* Separação entre itens */
  padding: 10px 0;
}

.contatos .nome {
  font-weight: bold;
}

.contatos .atividade {
  font-weight: 400;
}

.contatos .telefone {
  color: #666;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

blockquote {
  font-style: italic;
  padding: 10px;
  background-color: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 10px 0;
  color: #000;
}

blockquote p {
  margin: 0;
}

blockquote footer {
  margin-top: 5px;
  font-style: normal;
}

form button {
  background-color: #888;
  color: #000;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  cursor: pointer;
}

form button:hover {
  background-color: #ddd;
}

.ampliado * {
  font-size: 1.4rem;
}

.botao-flutuante {
  position: fixed;
  bottom: 30px; /* Distância do botão em relação à parte inferior da tela */
  left: 50%; /* Posiciona o botão na metade da tela */
  transform: translateX(
    -50%
  ); /* Volta metade da sua largura para centralizá-lo */
  z-index: 999; /* Garante que o botão fique acima de outros elementos */
  background-color: #007bff; /* Cor de fundo do botão */
  color: #ffffff; /* Cor do texto do botão */
  padding: 10px 20px; /* Espaçamento interno do botão */
  border: none; /* Remove a borda do botão */
  border-radius: 5px; /* Borda arredondada */
  cursor: pointer; /* Altera o cursor para indicar que é clicável */
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.1); /* Sombra suave para destacar o botão */
}

.botao-flutuante:hover {
  background-color: #0056b3; /* Altera a cor de fundo ao passar o mouse sobre o botão */
}
