body {
  width: 95%;
  max-width: 850px;
  margin: auto;
  background-color: #000;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.principal,
.aviso,
form {
  width: 95%;
  max-width: 800px;
  background-color: #333;
  margin: 10px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.exemplo {
  background-color: #555;
}

form {
  display: grid;
  margin: auto;
  max-width: 500px;
  background-color: #666;
}

a {
  color: royalblue;
}

article {
  background-color: rgba(204, 204, 204, 0.05);
  margin-bottom: 1%;
}

h1 {
  margin: 20px auto;
  background-color: #222;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: lightgreen;
}

h2 {
  text-decoration: underline;
  background-color: #555;
  margin: 20px auto;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: lightgreen;
}

h3 {
  color: lightgreen;
}

h4 {
  color: lightgreen;
}

h3::before {
  content: "\00BB"; /* Código Unicode para uma seta para a esquerda */
  margin-right: 5px; /* Espaço entre a seta e o texto */
}

.contatos {
  max-width: 800px;
  margin: 0 auto;
}

.detalhes {
  margin-top: 1%;
  margin-bottom: 3%;
}

.contatos ul {
  list-style: none;
  padding: 0;
}

.contatos li {
  border-bottom: 1px solid #ccc; /* Separação entre itens */
  padding: 10px 0;
}

.contatos .nome {
  font-weight: bold;
}

.contatos .atividade {
  font-weight: 400;
}

.contatos .telefone {
  color: #666;
}
